# Batter Position

The purpose of this file is to identify the position of the batter when hitting the ball thrown from the pitcher. The size of the csv's from the player position are very large and would be difficult to use along side with the others dataframes.

In [1]:
import pandas as pd
import pyarrow.dataset as pads
import os
import seaborn as sns
import numpy as np
import statsmodels.api as sm

In [2]:
# For the data_path argument, include the full file path to the folder that holds the data!    
def readDataSubset(table_type, data_path="~/Desktop/SMT-Data-Challenge-2025-Updated"):
    if table_type not in ['ball_pos', 'game_events', 'game_info', 'player_pos', 'rosters']:
        print("Invalid data subset name. Please try again with a valid data subset.")
        return -1

    if table_type == 'rosters':
        return pads.dataset(source = os.path.join(os.path.dirname(__name__), 
                                                  data_path, 'rosters.csv'), format = 'csv')
    else:
        return pads.dataset(source = os.path.join(os.path.dirname(__name__), 
                                                  data_path, table_type),
                            format = 'csv', partitioning = ['home_team', 'away_team', 'year', 'day'])

In [4]:
def main():
    rosters_df = readDataSubset('player_pos')

    full_df = rosters_df.to_table(columns=['game_str','play_id','timestamp',
                                           'player_position', 'field_x','field_y'
                                           ]).to_pandas()
    return full_df

if __name__ == "__main__":
    player_pos_df = main()

player_pos_df.head()

          game_str  play_id  timestamp  player_position  field_x   field_y
0  y1_d069_ACN_QEA        1      14853                1   0.6102   58.6314
1  y1_d069_ACN_QEA        1      14853                2   1.7643   -6.4374
2  y1_d069_ACN_QEA        1      14853                3  69.9423   98.1246
3  y1_d069_ACN_QEA        1      14853                4  37.2924  146.9091
4  y1_d069_ACN_QEA        1      14853                5 -66.9441   86.1147

In [8]:
batter_pos = player_pos_df[player_pos_df['player_position'] == 10]
batter_pos.head()

           game_str  play_id  timestamp  player_position  field_x  field_y
9   y1_d069_ACN_QEA        1      14853               10  -2.1867  -0.7866
19  y1_d069_ACN_QEA        1      14903               10  -2.1867  -0.7866
29  y1_d069_ACN_QEA        1      14953               10  -2.1867  -0.7866
39  y1_d069_ACN_QEA        1      15003               10  -2.1867  -0.7866
49  y1_d069_ACN_QEA        1      15053               10  -2.1867  -0.7866

In [9]:
batter_pos.to_csv("batter_pos.csv", index=False)